@media only screen and (min-width: 1025px) {
    h2{ 
        font-size:2em;
    }
    p, li {
        font-size: 1.3rem;
    }

    .transparent{

        h1{
            margin: 5px;
            font-size: 3em;
        }
        h2 {
            margin-top:2px;
            margin-bottom: 15vh;
           
        }
    }

    #about {

        height: 100vh;
        
        .typewriter{
            height: 20%;
       

    
        }
        .container {
            display:flex;
            flex-direction: row;
            align-items: flex-start;
            width:80%;
            height: 80%;
            margin: auto;
        }
      
       .textbox{
           width:40%;
           p{ 
               padding-bottom: 8%;
               
           }
       }
        .image {
            order: 2;
            img{
                width:80%;
            }
            

        }
        h2 {
            color: $ocean-blue;
           
            
        }
        p {
            color: $ocean-blue;
            text-align: center;
           

        }
        img{
            border-radius: 50%;
        }
    }



    #study {
        background-color: $ocean-blue;
        height: 100vh;
        
        tr, td { 
            font-size: 4rem;
        }

        p{ 
            padding-bottom: 8%;
            
        }
        
        .typewriter {
            height: 20%;
        
        }
    
        h2 {
            color: $sunset-background;
            text-align: center;
            
        }
        .container {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width:80%;
            height: 80%;
            margin: auto;

            div{
                width:40%;
            }
    
        }
}

#work{
    p{ 
        padding-bottom: 8%;
        
    }
    .additional {
        display: inline-block;
       
    }
    .container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:80%;
        height: 80%;
        margin: auto;
    }
}
#contact {

    .container{
        .circle{
            bottom:20%;
        }

        .circle__el {
            width: 0;
            height: 0;
            background: transparent;
            border: 8px solid $sunset-background;
            border-radius: 50%;
            animation: go 3s ease-out infinite;
        }
        
        .circle__el_two {
            animation-delay: 1s;
        }
        
        .circle__el_three {
            animation-delay: 2s;
        }
    }
}
}
