@media only screen and (min-width: 1025px) {
    h2{ 
        font-size:2em;
    }
   
    .transparent{

        h1{
            margin: 5px;
            font-size: 3em;
        }
        h2 {
            margin-top:2px;
            margin-bottom: 15vh;
           
        }
    }

    #about {

        height: 100vh;
        
        .typewriter{
            height: 20%;

    
        }
        .container {
            display:flex;
            flex-direction: row;
            align-items: center;
            width:100%;
            height: 80%;
        }
       
        .image {
            order: 2;

        }
        h2 {
            color: $ocean-blue;
           
            
        }
        p {
            color: $ocean-blue;
            text-align: center;
           

        }
        img{
            border-radius: 50%;
            width: 100%;
            margin-top: 0;
            margin-right: 0;
        }
    }



    #work {
        background-color: $ocean-blue;
        height: 100vh;
        
        .typewriter {
            height: 20%;
        
        }
    
        h2 {
            color: $sunset-background;
            text-align: center;
            
        }
        .container {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width:80%;
            height: 80%;
            margin: auto;

            div{
                width:40%;
            }
    
        }
}


#portfolio {
    .container {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        width:80%;
        height: 75%;
        margin: auto; 
        }
    .typewriter {
        height: 20%;
        }
    }
}