@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Khula:400,700');
@import "overlay";
@import "variables";
@import "typewriter";


body {
    background-color: $sunset-background;
    font-family: 'Khula', sans-serif;
    max-height: 100vh;
    max-width: 100vw; 
}

h1, h2, h3{ 
    color: $sunset-background;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
}


.typewriter {
    height: 10%;
    h2 {
        font-size: 1.5em;
        text-align: center;
        margin-top: 3%;
    }
}
.container {
    height: 90%;
}

#landing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    background: url(waves.jpeg);
    background-size: cover;
}
.transparent{
    background-color: rgba(223, 210, 202, 0.07);
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

    h1{
        margin: 5px;
        font-size: 2em;
    }
    h2 {
        margin-top:2px;
        margin-bottom: 15vh;
    }
}
#about {
    height: 100vh;
   
    .container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        width:100%;
    }
    .image {
        align-self: center;
        text-align: center;
    }
    
    h2 {
        color: $ocean-blue;

        
    }
    p {
        color: $ocean-blue;
    }
    
    img{
        border-radius: 50%;
        width: 45%;
        margin: auto;
    }
}

#study {
    background-color: $ocean-blue;
    height: 100vh;
    h2{
        padding-top:3%;
    }
    
    p{ 
        color: $sunset-background;
    }
    .tablebox {
        margin-top: 10%;
    }
    
    .table {
        margin: auto;
        tr, td { 
            font-size: 3rem;
        }
    }


    h3 {
        text-align: center;
    }
    .container {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width:100%;

    }


}

#work {
    height:100vh;
    h2{ 
        color: $ocean-blue;
    }
    .additional {
        display: none;
    }
    p {
        color: $ocean-blue;
    }
    
    .container {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        width:100%;
        


        .tg  {
            border-collapse:collapse;
            border-spacing:0;
        }
.tg td{
    padding:10px 5px;
    border-style:solid;
    color: $ocean-blue;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color: $ocean-blue;}
.tg th{
    font-weight:normal;
    padding:10px 5px;
    color: $ocean-blue;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color: $ocean-blue;
}
.tg .tg-0lax{text-align:left;
    vertical-align:top
}

    }


}
    


#contact {
    background-color: $ocean-blue;
    height: 100vh;
    h2{
        padding-top:3%;
    }
    
    ul {
        list-style: none;
        padding-inline-start: 0;
        
    }
    li {
        text-align: center;
        padding-bottom:1%
    }


    .container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:95%;
        margin:auto;
        position: relative;
        .circle {
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 35%;
            display: flex;
            align-items: center;
            align-content: center; 
            justify-content: center;  
            z-index: 1;
        }
        
        .circle__el {
            width: 0;
            height: 0;
            background: transparent;
            border: 5px solid $sunset-background;
            border-radius: 50%;
            animation: go 4.5s ease-out infinite;
        }
        
        .circle__el_two {
            animation-delay: 1.5s;
        }
        
        .circle__el_three {
            animation-delay: 3s;
        }
        
        @keyframes go {
            100% { 
                width: 200px;
              height: 200px;
              box-shadow: 0 0 15px $sunset-background;
              opacity: 0;
            }
        }
        
        .textbox {
            z-index: 2;
            margin-top: 25%;
        }
        p {
            color: $sunset-background;
            text-align: center;
        }
        a {
            text-decoration: none;
            padding: 3px;
            color: $sunset-background;
        }
         a:hover, a:focus {
             color: $main-pink;
         }
    }
}

aside {
    display: none;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    span {
        font-size: 0.8em;
        color: rgba(128, 128, 128, 0.721);
        margin-left:1%;
    }
    .icons {
        margin-right:5%;
    }

    a {
        text-decoration: none;
        padding: 3px;
        color: $green-black;
    }
     a:hover, a:focus {
         color: $main-pink;
     }
}
@media only screen and (min-height: 812px) {
   
    p, li {
        font-size: larger;
    }
    #work {
        .additional {
            display: inline-block;
        }
    }
    #contact .container .textbox {
        z-index: 2;
        margin-top: 50%;
    }
}
@import "tablet";
@import "desktop";