@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Khula:400,700");
button {
  font-size: 35px;
  text-decoration: none;
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 0;
  margin: 0;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: black;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 2;
}

button:hover,
button:focus {
  color: forestgreen;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.897);
  overflow-x: hidden;
  z-index: 3;
  transition: all 0.5s;
}
.overlay a {
  padding: 8px;
  color: #ffffff;
  font-size: 35px;
  text-decoration: none;
  display: block;
}
.overlay a:hover, .overlay a:focus {
  color: #db5151;
}
.overlay .closeBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 50px;
}

.overlay_content {
  position: relative;
  top: 30%;
  widows: 100%;
  text-align: center;
  margin-top: 35px;
}

.typewriter h2 {
  overflow: hidden;
  border-right: 0.15em solid #C0D2DE;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #C0D2DE;
  }
}
body {
  background-color: #E6D8CF;
  font-family: "Khula", sans-serif;
  max-height: 100vh;
  max-width: 100vw;
}

h1, h2, h3 {
  color: #E6D8CF;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}

.typewriter {
  height: 20%;
}
.typewriter h2 {
  font-size: 1.5em;
  text-align: center;
  padding-top: 3%;
}

#landing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  background: url(waves.jpeg);
  background-size: cover;
}

.transparent {
  background-color: rgba(223, 210, 202, 0.07);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.transparent h1 {
  margin: 5px;
  font-size: 2em;
}
.transparent h2 {
  margin-top: 2px;
  margin-bottom: 15vh;
}

#about {
  height: 100vh;
}
#about .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
#about .image {
  align-self: center;
  text-align: center;
}
#about h2 {
  color: #1C5166;
}
#about p {
  color: #1C5166;
}
#about img {
  border-radius: 50%;
  width: 45%;
  margin: auto;
}

#work {
  background-color: #1C5166;
  height: 100vh;
}
#work h3 {
  text-align: center;
}
#work .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
}

#contact {
  background-color: #5A707E;
  height: 100vh;
}
#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 80%;
  margin: auto;
}
#contact .container p {
  color: #E6D8CF;
  text-align: center;
}
#contact .container a {
  text-decoration: none;
  padding: 3px;
  color: #E6D8CF;
}
#contact .container a:hover, #contact .container a:focus {
  color: #ffc2c5;
}

aside {
  display: none;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer span {
  font-size: 0.8em;
  color: rgba(128, 128, 128, 0.721);
  margin-left: 1%;
}
footer .icons {
  margin-right: 5%;
}
footer a {
  text-decoration: none;
  padding: 3px;
  color: #0E1F21;
}
footer a:hover, footer a:focus {
  color: #ffc2c5;
}

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 2em;
  }

  .transparent h1 {
    margin: 5px;
    font-size: 3em;
  }
  .transparent h2 {
    margin-top: 2px;
    margin-bottom: 15vh;
  }

  #about {
    height: 100vh;
  }
  #about .typewriter {
    height: 20%;
  }
  #about .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
  }
  #about .image {
    order: 2;
  }
  #about h2 {
    color: #1C5166;
  }
  #about p {
    color: #1C5166;
    text-align: center;
  }
  #about img {
    border-radius: 50%;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }

  #work {
    background-color: #1C5166;
    height: 100vh;
  }
  #work .typewriter {
    height: 20%;
  }
  #work h2 {
    color: #E6D8CF;
    text-align: center;
  }
  #work .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    margin: auto;
  }
  #work .container div {
    width: 40%;
  }

  #portfolio .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 75%;
    margin: auto;
  }
  #portfolio .typewriter {
    height: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
